body div.container {
    margin-top: 10vh;
}

body div.container div.col-12 h1.display-1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #13f5f5;
}

body div.container div.row {
    margin-top: 10vh;
}

body div.container div.row div.col-4 {
    margin-bottom: 8vh;
    margin-left: 1px;
    background-color: #f5f513;
    max-width: 31%;
}

body center h1.display-1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f5f513;
}