{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body style="background-color: #13f5f5;">
    <div class="container">
        <div class="col-12" style="background-color: antiquewhite;">
            <h1 class="display-1">POST IT! FOR ME</h1>
        </div>
        <div class="row justify-content-around">
            {% for i, j in zip_list %}
            <div class="col-4">
                <p>{{ i.name }}</p>
                <p>{{ j.message }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12" style="background-color: antiquewhite;">
        <center>
            <h1 class="display-1" style="color: #f5f513;">WRITE YOUR OWN MESSAGE</h1>
            <form method="POST" name="forms">
                {% csrf_token %}
                {{ nameForm|crispy }}
                {{ messageForm|crispy }}
                <input name="save-button" class="btn btn-primary" type="submit" value="Save" style="margin-bottom: 3vh;" />
            </form>
        </center>    
    </div>



</body>
</html>